<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.giuliomarin.website</string>

  <key>ProgramArguments</key>
  <array>
          <string>/GitHub/giuliomarin.github.io/scripts/update_download</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>3600</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/crontab_website.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/crontab_website.out</string>
</dict>
</plist>
